/*0,1,0*/
.seccionGaleria{
    text-align:center;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}

/*0,1,0*/
.galeria {
    border: 1px solid #555;
    display: flex;
    flex-flow: column;
}

/*0,1,1*/
.galeria img {
    position: relative;
    height: 20em;
    width: 15em;
    padding: 2em; 
    align-self: center; 
  }
  
  /*0,0,1*/
  video{
    width: 25em;
    height: 20em;
  }
  
  /*0,1,0*/
  .video, .audio{
    text-align:center;
  }


