/*0,0,1*/
body {
  font: 400 15px Tahoma, sans-serif; 
  line-height: 1.5em;
  background-color: floralwhite;
}
/*0,0,1*/
h1 {
  background-color:#FF5733; 
  color: #fff;
  text-transform: uppercase;
  padding: 3.125em 1.5625em;
  text-align: center;     
}
/*0,0,1*/
h2, h3{
  text-transform: uppercase;
  padding: 0.625em 1.5625em;
}
/*0,0,1*/
h2{
color: #fff;
background-color:brown; 
}
/*0,0,1*/
h3{
color: black;
border: 2px solid brown;
}
/*0,0,1*/
h1, h2, h3{
border-radius: 1.5625em;
}
/*0,0,1*/
section{
  background-color:beige; 
  padding: 0.625em 1.5625em;
}
/*0,0,1*/
article{
  padding: 0.625em 1.5625em;
}
/*0,0,1*/
main{
  background-color: beige;
  border: black;
}
/*0,0,1*/
table{
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
font: 300 15px Tahoma, sans-serif;
}
/*0,0,1*/
th, td {
  padding: 0.9375em;
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color:deepskyblue;
}
/*0,0,1*/
ul {
  background: #3399ff;
  padding: 1.25em;
}
/*0,0,2*/ 
ul li {
  background: #cce5ff;
  margin-right: 0.3125em;
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
  margin-left: 2.1875em;
}

/*0,1,0*/
nav {
background-color:lightgreen;
overflow: hidden;
display: inline-flex;
}
/*0,0,2*/
nav a {
display: block;
color:black;
text-align: center;
padding: 0.875em 1em;
text-decoration: none;
font-size: 17px;
}
/*0,2,1*/
nav a:hover {
background-color: #ddd;
color: black;
}
/*0,2,1*/
nav a.active {
background-color:black;
color: white;
}

/*0,0,1*/
footer{
background-color: #292c2f;
font: bold 16px tahoma, sans-serif;
padding: 3.4375em 3.125em;
margin-top: 5em;
display: flex;
align-items: center;
justify-content:center;
flex-flow: row wrap;
}

/*0,0,2*/
footer div{
color: white;
vertical-align: top;
background-color: #292c2f;
padding: 1em;
}

/*0,1,0*/
.inline{
  display: inline-flex;
  }

.inline img{
  width: 12em;
  height: 10.5em;
  align-self: center;
  padding: 1em;
}
/*0,2,3*/
table tr.puntuacion > td:not(:first-child){
  color: red;
}




 


